@media (max-width: 600px) {
  #intalioText {
    font-size: 20px; 
    margin-bottom: 10px;
  }

  .inputField {
    width: 80%; 
  }

  #dataTable {
    width: 100%;
  }

  .editButton, .deleteButton {
    margin-bottom: 5px; 
  }
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #container {
    text-align: center;
  }
  
  .inputField {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #nameInput {
    margin-right: 5px;
  }
  
  #intalioText {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #addButton {
    background-color: #4caf50;
    color: white;
  }
  
  .editButton, .deleteButton {
    background-color: #2196F3;
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  #dataTable {
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
  }
  
  #dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #dataTable th {
    background-color: #f2f2f2;
  }
  